<div class="container-md container-small text-center">
    <div class="card p-4">
        <span class="mat-h2 mat-title">Update {{contact.name}}'s contact</span>
        <form>
            <div class="container-xs">
                <div class="row">
                    <div class="col-10">
                        <mat-form-field style="min-width: 250px;">
                            <mat-label>Name</mat-label>
                            <input [(ngModel)]="contact.name" matInput [formControl]="nameFormControl" placeholder="Name">
                            <mat-error *ngIf="nameFormControl.hasError('required')">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <mat-form-field style="min-width: 250px;">
                            <mat-label>Date of birth</mat-label>
                            <input (dateChange)="dateChange($event.value)" matInput [matDatepicker]="picker" [value]="contact.dob">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col ">
                        <div class="container  ml-0 pl-0">
                            <div class="row  ml-0 pl-0">
                                <div class="col ml-0 pl-0">
                                    <mat-form-field style="min-width: 250px;">
                                        <mat-label>Phone Number</mat-label>
                                        <input [(ngModel)]="newPhone" (keyup.enter)="addPhone()" matInput [formControl]="phoneFormControlNew" placeholder="Phone number">
                                        <mat-error *ngIf="phoneFormControlNew.hasError('minLength')">
                                            Enter a <strong>valid</strong> phone number
                                        </mat-error>
                                    </mat-form-field>
                                    <button class="ml-4" [disabled]="!phoneFormControlNew.valid" (click)="addPhone()" mat-stroked-button>Add</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="row" *ngFor="let phone of phoneList; let i=index;  trackBy:trackByPn">
                            <div class="col">
                                <mat-form-field style="min-width: 250px;">
                                    <mat-label>Phone Number</mat-label>
                                    <input [(ngModel)]="phone.phone" (change)="updatePhoneById(phone.id, phone.phone)" matInput placeholder="Phone number" name="ph{{i}}">
                                    <mat-error *ngIf="phone.phone.length<10">
                                        Enter a <strong>valid</strong> phone number
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col">
                        <div class="container ml-0 pl-0">
                            <div class="row ml-0 pl-0">
                                <div class="col ml-0 pl-0">
                                    <mat-form-field style="min-width: 250px;">
                                        <mat-label>Email</mat-label>
                                        <input [(ngModel)]="newEmail" (keyup.enter)="addEmail()" matInput [formControl]="emailFormControl" placeholder="example@rentomojo.com">
                                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                            Please enter a <strong>valid</strong> email address
                                        </mat-error>
                                    </mat-form-field>
                                    <button class="ml-4" [disabled]="!emailFormControl.valid" (click)="addEmail()" mat-stroked-button>Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="row" *ngFor="let email of emailList; let i=index;  trackBy:trackByEm">
                            <div class="col">
                                <mat-form-field style="min-width: 250px;">
                                    <mat-label>Email</mat-label>
                                    <input [(ngModel)]="email.email" matInput (change)="updateEmailById(email.id, email.email)" placeholder="example@rentomojo.com" name="em{{i}}">
                                    <mat-error *ngIf="email.email.length<3">
                                        Please enter a <strong>valid</strong> email address
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col">
                        <button (click)="cancelUpdate()" mat-button>Cancel</button>
                        <button [disabled]="!phoneFormControl.valid || !nameFormControl.valid || !emailFormControl.valid" (click)="updateContact()" mat-raised-button color="primary">Update contact</button>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>