<div class="container-md container-small px-0">
    <div class="card p-4" style="background-color: #EEEEEE;">

        <mat-form-field class="mx-auto" style="max-width: 400px;min-width: 250px;">
            <mat-label>Search by numbers, name or email</mat-label>
            <input matInput type="text" (keyup)="searchContact()" [(ngModel)]="searchValue">
            <button mat-button *ngIf="searchValue" (click)="updateList" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
          <mat-icon>close</mat-icon>
        </button>
        </mat-form-field>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let contact of contactList  | slice: lowValue : highValue">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-1">
                                            <span class="my-auto">
                                                <mat-icon aria-hidden="false">person</mat-icon>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h4 class="d-inline" style="text-transform: capitalize;">{{contact.name}}</h4>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p><strong>Date of birth:</strong> <span>{{contact.dob}}</span></p>
                        </div>
                    </div>
                    <div class="row p-4" style="background-color: #EEEEEE; border: 1px solid #CCC; border-radius: 4px;">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h6><strong>Phone numbers</strong></h6>
                                    <ul>
                                        <li *ngFor="let phone of contact.phone">{{phone}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h6><strong>Email addresses</strong></h6>
                                    <ul>
                                        <li *ngFor="let email of contact.email">
                                            {{email}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-8">

                        </div>
                        <div class="col-4">
                            <button mat-stroked-button (click)="editContact(contact)">Edit</button>
                            <button class="ml-3" (click)="deleteContact(contact.contactId)" mat-flat-button color="warn">Delete</button>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

        <mat-paginator #paginator [length]="contactList.length" style="background-color: #EEEEEE;" [pageSize]="pageSize" (page)="getPaginatorData($event)">
        </mat-paginator>

        <span class="text-right mr-4" style="margin-bottom: -18px;">
            <button class="position-fixed " [routerLink]="'/add'" mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>add</mat-icon>
            </button>
          </span>

    </div>

</div>